In [1]:
import os
import pandas as pd
from keras.models import load_model
import numpy as np

Using TensorFlow backend.

In [2]:
for root, dirs,files in os.walk("tmp/", topdown=True):
    txts=[]
    for name in files:
        txts.append(os.path.join(root, name))
    break

In [3]:
final=[]
for txt in txts:
    f = open(txt,'r',encoding = "ISO-8859-1")
    number = f.name.replace('tmp/','')
    number = number.replace('.txt','')
    f.readline()
    x = f.readline().strip()
    x = x.replace('[','\"[')
    x = x.replace(']',']\"')
    final.append(number+','+x[:-1])

In [7]:
final

['85,1,0.1,adam,avg,1000,"[-1.0, 1.0, -0.1]",None,relu,10,1000,0.1,0.99,100,10,True,10,False',
 '81,1,0.01,adam,avg,1000,"[-10.0, 1000.0, -100.0]",None,relu,10,1000,0.1,0.99,100,10,True,10,False',
 '82,1,0.01,adam,avg,1000,"[-10.0, 1000.0, -1000.0]",None,relu,10,1000,0.1,0.99,100,10,True,10,False',
 '83,1,0.01,adam,avg,1000,"[-1.0, 1.0, -0.1]",None,relu,10,1000,0.1,0.99,100,10,True,10,False',
 '84,1,0.001,adam,avg,1000,"[-1.0, 1.0, -0.1]",None,relu,10,1000,0.1,0.99,100,10,True,10,False',
 '88,1,0.01,adam,avg,1000,"[-1.0, 1.0, -0.1]",None,relu,180,10,200,0.1,0.99,100,10,True,10,False']

In [8]:
with open('ff.csv','w') as f:
    for txt in final:
        f.write(txt+'\n')

In [10]:
data= pd.read_csv('ff.csv',header=None)

In [11]:
data.sort_values(by=[0],inplace=True)

In [12]:
data['20'] = data[data.columns[6]]
data.drop(data.columns[6], axis = 1, inplace = True, errors = 'ignore')

In [13]:
data

,0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,20
1,81,1,0.010,adam,avg,1000,None,relu,10,1000,0.1,0.99,100,10,True,10,False,"[-10.0, 1000.0, -100.0]"
2,82,1,0.010,adam,avg,1000,None,relu,10,1000,0.1,0.99,100,10,True,10,False,"[-10.0, 1000.0, -1000.0]"
3,83,1,0.010,adam,avg,1000,None,relu,10,1000,0.1,0.99,100,10,True,10,False,"[-1.0, 1.0, -0.1]"
4,84,1,0.001,adam,avg,1000,None,relu,10,1000,0.1,0.99,100,10,True,10,False,"[-1.0, 1.0, -0.1]"
0,85,1,0.100,adam,avg,1000,None,relu,10,1000,0.1,0.99,100,10,True,10,False,"[-1.0, 1.0, -0.1]"
5,88,1,0.010,adam,avg,1000,None,relu,10,200,0.1,0.99,100,10,True,10,False,"[-1.0, 1.0, -0.1]"

In [14]:
data.to_csv('ff.csv',index=False)

### now manually merge the files ff.csv and final.csv

In [45]:
experiements = pd.read_csv('Final.csv')

In [46]:
experiements.columns

Index(['ID', 'layers', 'tau', 'optimizer', 'advantage', 'max_timesteps',
       'gym_record', 'activation', 'batch_size', 'episodes', 'exploration',
       'gamma', 'hidden_size', 'train_repeat', 'display', 'min_train',
       'batch_norm', 'Rewardscheme', 's_vision', 'Details'],
      dtype='object')

In [17]:
experiements.sort_values(by=['ID'],inplace=True)

# Add "Type" to all experiments.csv

thedirs=[]
for root, dirs,files in os.walk(".", topdown=True):
    for i in dirs:
        try:
            thedirs.append(int(i))
            df= pd.read_csv('{}/exp_details.csv'.format(i),header=None)
            df['type']='train'
            df.to_csv('{}/exp_details.csv'.format(i),header=None)
        except ValueError:
            continue
        
    break

# Generating Target models for old experiments (Should be Done on Python 2 Only)